body {
	background-color: white;
}


/* HEADER */
#header {
	position: fixed;
	width: 99%;
	height: 60px;
	background-color: black;
	z-index: 1;
	top: 0px;
}

#header_div_1 p {
	font-family: fantasy;
	color: orange;
	float: left;
	margin-left: 10px;
}

#header_div_2 {
	z-index: 2;
	height: 60px;
	width: 450px;
	background-color: orange;
	float: right;
}

#header_div_2>p {
	font-family: fantasy;
	color: black;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: middle;
}


/* LEFT MENU */
#left_menu {
	float: left;
	border-radius: 10px;
	background-color: black;
	padding: 10px;
	height: 500;
	width: auto;
	margin-top: 60px;
	clear: both;
}

.sub_menu {
	background-color: orange;
	margin: 0px 0px 0px 0px;
}

.slide_sub_menu {
	background-color: orange;
	margin: 0px 0px 0px 0px;
}

.fade_sub_menu {
	background-color: orange;
	margin: 0px 0px 0px 0px;
}


/* APM CONTENT */
#firstpage_content > p, h3 {
		margin: 0px 0px 0px 0px;
}

#firstpage_content {
	position: relative;
	float: right;
	border-radius: 10px;
	background-color: #aabbcc;
	padding: 10px;
	height: 700px;
	width: 1650px;
	margin-top: 60px;
}

/* APM CONTENT > FORM */
#firstpage_form {
	float: left;
	border-radius: 10px;
	background-color: #ccccaa;
	padding: 10px;
	height: 580px;
	width: 350px;
	margin-right: 10px;
/* 	clear:both; */
}

/* APM CONTENT > GRID ARRAY */
/* #grid_array { */
/* } */

